---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import { Icon } from "astro-icon/components";

import MainLayout from "../../layouts/MainLayout.astro";

export const getStaticPaths = (async () => {
  const books = await getCollection("books");

  return books.map((book) => ({
    params: { name: book.data.name },
    props: { book: book },
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { book } = Astro.props;

---

<MainLayout title="José Martí | Libros">
  <h1 class="text-3xl font-black mb-5">Libros</h1>
  <section class="">
    <div class="flex justify-center items-center">
      <div>
        <button class="mb-5 cursor-pointer" onclick="history.back()">
          <Icon name="back" size={30} class="inline-block" /> <span>Regresar</span>
        </button>
        <div class="flex flex-col items-center lg:flex-row">
          <Picture
            transition:name={`image-${name}`}
            formats={['webp', 'avif', 'jpg']}
            class="max-w-[417px] w-full lg:w-[417px]"
            src={book.data.portada}
            widths={[240, 417]}
            sizes={
              `(max-width: 360px) 240px,
              417px`
            }
            alt={`Portada del libro "${book.data.description.name}"`}
          />
          <div class="lg:ml-5 lg:max-w-[800px] py-10">
            <h2 class="text-3xl font-bold mb-10">{book.data.description.name}</h2>
            <p class="text-xl font-bold mb-3">
              Temática: <span class="font-normal">{book.data.description.tematic}</span>
            </p>
            <p class="text-xl font-bold mb-3">
              Editorial: <span class="font-normal">{book.data.description.editorial}</span>
            </p>
            <p class="text-xl font-bold mb-3">
              Autor: <span class="font-normal">{book.data.description.author}</span>
            </p>
            <p class="text-justify text-xl mb-10">{book.data.description.info}</p>
            <div class="flex">
              <a href={book.data.book} download={book.data.description.name} class="mr-5">
                <Icon class="cursor-pointer" name="download" width='1.5em' height='1.5em' />
              </a>
              <a href={book.data.book} target="_blank">
                <Icon class="cursor-pointer" name="watch" width='1.5em' height='1.5em' />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>